.env.local
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.*
/frontend/.yarn/*
/frontend/!.yarn/patches
/frontend/!.yarn/plugins
/frontend/!.yarn/releases
/frontend/!.yarn/versions
/frontend/coverage
/frontend/.next/
/frontend/out/
/frontend/build
/frontend/.DS_Store
/frontend/*.pem
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*
/frontend/.vercel
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

/backend/node_modules
/backend/.pnp
/backend/.pnp.*
/backend/.yarn/*
/backend/!.yarn/patches
/backend/!.yarn/plugins
/backend!.yarn/releases
/backend!.yarn/versions
/backend/coverage
/backend/.next/
/backend/out/
/backend/build
/backend/.DS_Store
/backend/*.pem
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*
/backend/.pnpm-debug.log*
/backend/.vercel
/backend/*.tsbuildinfo
/backend/next-env.d.ts

*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.development
*.env.test
*.env.production
*.DS_Store